.shap{
  padding: 20px;
  left: 0; top: 0; /* Левый нижний угол */
  width: 100%;
  background-color: #838e96;
  position: fixed;
  box-shadow: 0px 0px 5px 0px #000000;
}

.bok{
  position: fixed;
  left: 0;
  top: 50px;
  width: 30%;
  height: 100%;
  background-color: #f1f1f1;
  overflow: scroll;
  border: 1px solid;
  /* исправить бичевский скролинг */
}
.block{
  width: 60%;
  height: 80px;
  margin-left: 10px;
  margin-right: auto;
  border-radius: 10px;
  background-color: #707070;
  min-width: 150px;
  cursor: pointer;
}
.ico{
  width: 40px;
  height: 40px;
  background-image: url('pics/1dev.png');

}

.text{
  width: 50px;
  padding: 10px;
  /*background-color: red;*/

}

.light{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #bee2f7;
    /* #bee2f7 <-- индикация включённой лампошки */
    /* #53758a <-- индикация выключённой лампошки */
}

.cost2{
  height: 20px;
}

.cost{
  height: 40px;
}
table{
  border: none;
  margin: auto;
}

.l1{
  width: 30%;
  float: left;
  text-align: center;
}

.l2{
  width: 95%;
  text-align: center;
}

.content{
    position: fixed;
    right: 0;
    margin-top: 54px;
    margin-bottom: 50px;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    overflow: scroll;
    text-align: center;
    bottom: 20px;
    /* надо накинуть скролинг */
}

.niz{
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #838e96; /* Цвет фона */
  width: 100%; /* Ширина слоя */
  box-shadow: 0px -7px 10px -9px #000000
}
.buttons{
  width: 100%;
  text-align: center;
}
.nb{
  width: 50%;
}
.plot{
  width: 80%;
  height: 60%;
  max-width: 576px;
  opacity: 0;
}
.b_down{
  background-color: #838e96;
  border: none;
  cursor: pointer;
}
#plot0{
  margin-top: 100px;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}
.b-popup .b-popup-content{
    text-align: center;

    margin:40px auto 0px auto;
    width:40%;
    height: auto;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.zagl-popup{
  text-align: center;
}
.s-number{
  width: 30%;
  height: auto;
  font-size: 15px;
  border-radius: 5px;
}
.submit-button{
  width: 60px;
  height: 25px;
  background-color: #c5fc97;
  border: none;
}

.exit-button{
  width: 60px;
  height: 25px;
  background-color: #fc9797;
  border: none;
}
